## DATABASE
MYSQL_HOST=''
MYSQL_USER_OTHER=''
MYSQL_PASSWORD=''
MYSQL_DATABASE=''

## API
API_SECRET=''
API_HOST_NAME=''
API_PORT=''
UPLOAD_DIRECTORY=''
API_PUBLIC_URL=''

## SERVICE CONFIG
# GITHUB
githubClientId=''
githubClientSecret=''
# DISCORD
discordClientId=''
discordClientSecret=''
# MICROSOFT CALENDAR
microsoftCalendarClientId=''
microsoftCalendarClientSecret=''
microsoftCalendarTenantId=''
# YOUTUBE
youtubeClientId=''
youtubeClientSecret=''
# SPOTIFY
spotifyClientId = ''
spotifyClientSecret = ''
# TWITCH
twitchClientId=''
twitchClientSecret=''
# NOTION
notionClientId=''
notionClientSecret=''
